fuzzywuzzy==0.18.0
gingerit==0.9.0
itemadapter==0.7.0
language_tool_python==2.7.1
loguru==0.6.0
numpy==1.24.1
pandas==1.5.3
Scrapy==2.8.0
scrapy_proxy_pool==0.1.7
send_mail==0.0.2
streamlit==1.17.0
tqdm==4.64.1
stqdm
Caribe
random_user_agent
fake_headers